.explanation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explanation p{
    font-size: 30px;
    margin: 10px 0;
    width: 77%;
    padding: 10px;
}

.card img{
    width: 450px;
    border: 5px solid bisque;
    border-radius: 40px;
    padding: 15px;
    margin: 10px;
    transition: transform 2s;
}

.card h3{
    font-size: 30px;
}

.card .chacard:hover{
    transform: rotateZ(180deg)
}

.disclaimer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.disclaimer img{
    width: 70px;
}
.left{
    transform: rotateZ(-90deg);
}
.right{
    transform: rotateZ(90deg);
}