.rules{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.rules img{
    border: 10px solid bisque;
    border-radius: 50px;
    width: 90%;
}

@media only screen and (max-width: 768px) {
    .rules img {
      margin: 0;
      width: 80%;
    }
  }