.rules{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rules img{
    margin: 10%;
    padding: 10px;
    border: 10px solid bisque;
    border-radius: 50px;
    width: 80%;
}

@media only screen and (max-width: 768px) {
    .rules img {
      overflow: hidden;
      margin: 10px;
    }
  }