@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
  font-family: 'Lora', serif;
}

.App {
  text-align: center;
}

.menu{
  display: none;
}

@media (max-width: 768px) {
  .App-header{
    display: none;
  }

  .menu{
    display: block;
  }
}